[submodule "ledDriver"]
	path = ledDriver
	url = https://github.com/jeasonmaliyekkal/ledDriver.git
[submodule "uartDriver"]
	path = uartDriver
	url = https://github.com/jeasonmaliyekkal/uartDriver.git
[submodule "timebase"]
	path = timebase
	url = https://github.com/jeasonmaliyekkal/timebase.git
